$primary: green;

$secondary: rgb(217, 255, 217);

.bg-perso {  background-color: rgb(255, 255, 222);   }

.border-perso {  border-color: rgb(255, 255, 222);   }

$spacers: (
   6: 4rem,   
);

$grid-breakpoints: (
xs: 0,
sm: 670px,
md: 846px,
lg: 992px,
xl: 1200px,
xxl: 1400px
);



// Import all of Bootstrap’s CSS
@import "bootstrap/scss/bootstrap";

